# TTS Frontend Configuration
# Copy to .env.local and fill in your values

VITE_ENV=dev
VITE_API_KEY=fedgpt-api-key
VITE_ZERO_SHOT_API_URL=https://ent.fedgpt.cc/api/asura/v1/speeches:zero-shot
VITE_PRESIGN_URL=https://ent.fedgpt.cc/api/asura/v1/transcriptions:presign
VITE_UPLOAD_URL=https://ent.fedgpt.cc/asset/
VITE_MODEL_ID=tts-general-1.2.2
VITE_AUTH_KEY=fedgpt
VITE_AUTH_SECRET=
